.login {
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.signInContainer {
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 24px;
}

.signInDescription {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 135%;
    text-align: center;
    color: #414141;
    margin-bottom: 32px;
}

.signInInputGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 12px;
}

.inputError {
    border: 1px solid red;
}

.errorValidation {
    color: red;
}

.errorNetwork {
    color: red;
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.haveAccount {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #171718;
    margin: 24px 0 88px 0;
    text-align: center;
    gap: 2px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordLink {
    display: inline-block;
    color: #325df4;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 24px;
}

.haveAccount {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #171718;
    margin: 24px 0 0;
    text-align: center;
    gap: 2px;
}

.logInLink {
    color: #325df4;
}
