.priceContainer {
    width: 100%;
    margin-bottom: 70px;
}

.priceTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 8px;
}

.priceBlock {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.priceText {
    width: 35%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 290%;
    color: #7B7B7B;
}

.priceInput {
    width: 65%;
}

.strip {
    width: 100%;
    height: 3px;
    background-color: #028959;
    margin-bottom: 36px;
    border-radius: 12px;
}

.addPointBlock {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 36px;
}

.addPoint {
    width: 272px;
    height: 60px;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #028959;
    background-color: #FFFFFF;
    border: 1px dashed #028959;
}

.exitImg {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.priceBlock {
    position: relative;
    display: flex;
    flex-direction: column;
}
