.notifications {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.content {
    margin-bottom: 64px;
}

.input {
    padding-left: 18.75px;
    width: 100%;
    height: 64px;
    background: #E8E8E8;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #7B7B7B;
}

.input::placeholder {
    color: #7B7B7B;
}

.dateBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.dateText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 290%;
    color: #414141;
}

