.main {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.content {

}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 24px;
}

.functionalBlocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 62px;
    gap: 16px;
}

.functionalBlock {
    width: 272px;
    height: 128px;
    background: #028959;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.functionalBlock:hover {
    scale: 1.1;
}

.functionalBlockText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 128%;
    text-align: center;
    color: #FFFFFF;
}

.searchContainer {}

.searchTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 16px;
}

.searchFunctionality {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.searchInputContainer {
    position: relative;
}
.searchIcon {
    position: absolute;
    top: 21px;
    left: 18.75px;
    width: 22.5px;
    height: 22.5px;
}
.searchInput {
    padding-left: 50px;
    width: 559px;
    height: 64px;
    background: #E8E8E8;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
}

.searchInput::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133%;
    color: #898989;
}
