.notificationPageContainer {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.searchContainer {
    width: 100%;
    margin-bottom: 16px;
}

.content {
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 218px;
}

.createNotificationBtnContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.textTutorial {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 135%;
    color: #414141;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
}

.fixImageSize {
    width: 60%;
    height: 70%;
    align-self: center;
    margin-left: 16px;
}
