.modal {
  height: 100vh;
  width: 100vw;

  background-color: rgba(23, 23, 24, 0.6);

  position: fixed;
  display: flex;

  top: 0;
  left: 0;

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.2s linear;

  z-index: 2;
}

.modal_open {
  opacity: 1;
  pointer-events: all;
  overflow-y: auto;
}

.modal__content {
  margin: auto;
  padding: 48px 82px;

  position: relative;

  align-items: center;

  border-radius: 24px;

  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90%;
  width: 90%;
}

.cross {
  width: 25px;
  height: 25px;

  position: absolute;
  top: 28px;
  right: 28px;

  background-image: url('../../assets/icons/exit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: opacity 0.2s ease;
}

.cross:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 135%;
  text-align: center;
  color: #414141;
  margin-top: 32px;
  margin-bottom: 62px;
}

.modal__btnGroup {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}

.submitBtn_big {
  height: 36px;
}

.cancelBtn,
.deleteBtn {
  padding: 15px 20px;
  border-radius: 20px;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 133%;
  color: #FFFFFF;
}

.deleteBtn {
  background: #028959;
}

.cancelBtn {
  background: #FFFFFF;
  border: 1px solid #028959;
  color: #028959;
}
