.main {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.content {

}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 24px;
}

.functionalBlocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 62px;
    gap: 16px;
}

.functionalBlock {
    width: 272px;
    height: 128px;
    background: #028959;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.functionalBlock:hover {
    scale: 1.1;
}

.functionalBlockText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 128%;
    text-align: center;
    color: #FFFFFF;
}

.searchContainer {}

.searchTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 16px;
}

.tableStyle {
    margin-top: 2%;
}

.footerButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.footerButton {
    height: 100px;
    width: 400px;
    border-radius: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 125%;
    color: white;
    margin-bottom: 24px;
    background-color: #028959;
    cursor: pointer;
    outline: inherit;
    border: none;
    transition: 0.15s linear;
}

.footerButton:hover {
    transform: scale(1.1);
}
