.object {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #F5F5F5;
    position: relative;
}

.errorBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorText {
    color: red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    margin-top: 24px;
}

.correctText {
    color: #028959;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    margin-top: 24px;
}

.content {}

.objectNameTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 8px;
}

.selectBlock {
    margin-bottom: 32px;
}


.categoriesBlock {

}

.categoriesTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 16px;
}

.categoriesContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px;
}

.categoryBlock {
    cursor: pointer;
    width: auto;
    padding: 21px 15px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.1)) drop-shadow(-1px -1px 1px rgba(255, 255, 255, 0.2));
}

.activeCategoryBlock {
    background: #028959;
}

.categoryName {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    color: #414141;
}

.activeCategoryName {
    color: #FFFFFF;
}

.uploadMediaContainer {

}

.uploadMediaTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 16px;
}
.submitContainer {
    margin-top: 64px;
}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
}



