.users {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.objectNameTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 8px;
}

.selectBlock {
    margin-bottom: 64px;
}



