.usersPageContainer {
    margin-top: 60px;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.content {
    width: 100%;
    height: 800px;
    background: #FFFFFF;
    margin-bottom: 218px;
}

.searchContainer {
    width: 100%;
    margin-bottom: 16px;
}
.errorText {
    color: red;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    margin-top: 24px;
}

.createUserBtnContainer {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    gap: 8px;
}

.objectNameTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 8px;
}

.selectBlock {
    margin-bottom: 64px;
    width: 100%;
}


