.objectCoordinatesContainer {
    margin-bottom: 32px;
}

.objectCoordinatesTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 16px;
}
.allCoordinatesBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.coordinatesBlock {
    width: 48%;
}
.coordinatesTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #7B7B7B;
    margin-bottom: 8px;
}
