.highlight {
}

.highlightTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 135%;
    text-align: center;
    color: #414141;
    margin-bottom: 17px;
}

.content {

}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 125%;
    color: #414141;
    margin-bottom: 16px;
}

.highlightContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 64px;
}
.imageContainer {
    width: 35%;
}

.h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #7B7B7B;
    margin-bottom: 8px;
}

.inputFile {
    display: none;
}

.imageBlock {
    width: 272px;
    height: 432px;
    border-radius: 20px;
    margin-bottom: 16px;
}

.image {
    width: 272px;
    height: 432px;
    border-radius: 20px;
    object-fit: cover;
}

.highlightDescription {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.highlightBlock {
    margin-bottom: 8px;
}
